<html>
<%- await include('includes/_header.ejs') %>
<body>
<div class="container">
    <h1>Finally a simple website generator</h1>

    <ul>
        <li>EJS Template generation</li>
        <li>SCSS Processing</li>
        <li>JS/CSS Minifying</li>
        <li>Sitemap generation</li>
    </ul>
    <h2>Statiz</h2>
</div>
</body>
</html>
