@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: Montserrat, Serif;

  background-color: #212121;
  color: white;

}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 4rem;
}

h2 {
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 4rem 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 1rem;
  font-size: 2rem;
}
